*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: lightblue;
}
.container{
    background: white;
    display: flex;
    width: 400px;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
}
.close{
    width: 6%;
    background: transparent;
    border: none;
    outline: none;
    margin: auto;
    cursor: pointer;
    transform: translateX(1600%);
    border-radius: 5px;
    margin-bottom: 5px;
}
.close i{
    font-size: 17px;
}
.music-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.music-details img{
    width: 70%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}
.music-details h3{
    font-size: 20px;
    margin-top: 10px;
}
.music-details span{
    font-size: 13px;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls button{
    margin-right: 18px;
    cursor: pointer;
}
.shuffle,.repeat{
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
}
.shuffle i,.repeat i{
    font-size: 15px;
    color: rgb(102, 101, 101);
}
.repeat.active i,.shuffle.active i{
    color: rgb(20, 122, 156);
}
.prev,.next{
    width: 45px;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
}
.prev i,.next i{
    font-size: 23px;
}
.play,.pause{
    width: 70px;
    height:70px;
    background: transparent;
    border: none;
    outline: none;
}
.play i,.pause i{
    font-size: 50px;
    background: white;
    color: rgb(84, 178, 209);
}
.hide{
    display: none;
}
.progress-bar{
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background: lightgray;
    margin: 10px 0 5px 0;
    cursor: pointer;
}
.current-progress{
    height: 100%;
    background: rgb(84, 178, 209);
    border: none;
    outline: none;
    border-radius: 3px;
}
.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding: 0 2px;
}
.time span{
    font-size: 15px;
}
.list button{
    width: 6%;
    border: none;
    outline: none;
    margin: auto;
    cursor: pointer;
    font-weight: 800;
    background-color: rgb(97, 185, 214);
    color: white;
    transform: translateX(1600%);
    border-radius: 5px;
    margin-bottom: 5px;
}
.list .song{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 9px;
    padding-top: 8px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}
.song img{
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 4px;
}
.song .other{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.song-title{
    font-size: 18px;
    margin-bottom: 6px;
}
.song-artist{
    font-size: 14px;
    color: rgb(117, 115, 115);
}
